<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<h1>This is the best chat ever!</h1>
<a href="{% url 'video_chat' %}">Press for video chat</a>
{% for message in messages %}
    <p>{{ message }}</p>
{% empty %}
    There are no messages in this room. Be the first one to post!
{% endfor %}
<form action='{% url 'chat' %}' method="post">
    {% csrf_token %}
        {% if name %}
            You are posting as {{ name }}
            {{ form.name.as_hidden }}
        {% else %}
            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <br/>
        {{ form.text }}
        {% for error in form.text.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    <br/>
    <input type="submit" name="post" value="Post" />
    {% if name %}
        <input type="submit" name="change" value="Change user" />
    {% endif %}
</form>
</body>
</html>

